# Backend Specific
pplabel.db
paddlelabel.db
static/
temp/
temp
test.py
*.test
**/.stoplight/
paddlelabel.warning
_site
.jekyll-cache
Gemfile.lock

# ML Specific
output/
data/
**/ckpt/
*.pdiparams
*.pdiparams.info
*.pdmodel
*.png
*.jpg
*/zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py

# Frontend Specific
cypress/cypress

# Node/JS dependencies
**/node_modules
package-lock.json
pnpm-lock.yaml
/src/utils/request-temp.js
_roadhog-api-doc
/dist
.umi
.umi-production
.firebase
.eslintcache
screenshot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.pdm.toml

# Documentation
/site

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Debug
cython_debug/

# Misc
*.log
.DS_Store
npm-debug.log*
yarn-error.log
/coverage
*bak
.history
functions/*
.temp/**
build
