.leftToolbar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  z-index: 10;
}

.rightToolbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  z-index: 10;
}
